* {
    box-sizing: border-box;
    transition-duration: 0.3s;
}

html {
    margin: 0;
    font-family: $family-default;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    max-width: 740px;
    padding: 15px 10px;
    margin: 0 auto;
    height: 100%;

    @include onTablet {
        padding: 30px 14px;
    }

    @include onDesktop {
        padding: 0;
    }
}
