$tablet: 768px;
$desktop: 1070px;

$color-main-text: #323232;
$color-secondary-text: #000000;
$color-snow: #ffffff;
$color-main-blue: #096ffa;
$color-light-blue: rgba(9, 111, 250, 0.05);
$color-main-back: #0b1632;
$color-main-grey: #808080;
$color-secondary-grey: #d8d8d8;
$color-warning: #e81019;
$color-accent-positive: #01c65a;

$family-default: 'Georgia', serif;
$family-secondary: 'Open Sans', sans-serif;
